<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PaginaController</servlet-name>
        <servlet-class>Controlador.PaginaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroController</servlet-name>
        <servlet-class>Controlador.RegistroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controlador.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DomiciliarioController</servlet-name>
        <servlet-class>Controlador.DomiciliarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaginaController</servlet-name>
        <url-pattern>/PaginaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroController</servlet-name>
        <url-pattern>/RegistroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomiciliarioController</servlet-name>
        <url-pattern>/DomiciliarioController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

    
</web-app>
